@model Client


@{

    ViewData["Title"] = "Add New Client";
}

<p class="h1 text-center text-dark">Add New Client</p>
<hr />
<div class="row">
    <div class="col-sm-8 offset-4">
        <form asp-action="Create" class="col-6">
            <div asp-validation-summary="ModelOnly" clas="text-danger"></div>
            <div class="form-group ">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation="EmployeeFullName" clas="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="CompanyEmail" class="control-label"></label>
                <input asp-for="CompanyEmail" class="form-control" />
                <span asp-validation="EmployeeEmail" clas="text-danger"></span>
            </div>

            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-primary float-right" />
                <a class="btn btn-info" asp-action="Index">Back</a>
            </div>

        </form>
    </div>
</div>