@model ProjectMVC.ViewModels.NewProjectVm


@{

    ViewData["Title"] = "New Project";
}

<p class="h1 text-center text-dark">New Project</p>
<hr />

<div class="row">
    <div class="col-md-8 offset-4">
        <form asp-action="Create" class="col-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.Clients"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeIds" class="control-label"></label>
                <select asp-for="EmployeeIds" class="form-control" asp-items="ViewBag.Employees" multiple></select>
                <span asp-validation-for="EmployeeIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarDate" class="control-label"></label>
                <input asp-for="StarDate" type="date" class="form-control" />
                <span asp-validation-for="StarDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" type="date" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary float-right" />
                <a class="btn btn-info" asp-action="Index">Back</a>
            </div>
        </form>

    </div>
</div>


 <div class="form-group">
                <label asp-for="PersonIds" class="control-label"></label>
                <select asp-for="PersonIds" class="form-control" asp-items="ViewBag.Persons"  multiple></select>
                <span asp-validation-for="PersonIds" class="text-danger"></span>
            </div>
			
			
			
			
			 //Genres
            foreach (var genresId in values.GenreIds)
            {
                var newMovieGenre = new MovieGenre()
                {
                    MovieId = newMovie.Id,
                    GenreId = genresId
                };
                await _context.MovieGenres.AddAsync(newMovieGenre);

            }
            await _context.SaveChangesAsync();